<main>
  <section class="form_container">
    <h1>Анкета</h1>

    <form>
      <div class="form-group">
        <label for="name">
          Имя
          <span class="required">*</span>
        </label>
        <app-test-input
          id="name"
          name="name"
          inputWidth="500px"
          [(ngModel)]="testForm.name"
        ></app-test-input>
      </div>

      <div class="form-group">
        <label for="age">
          Возраст
          <span class="required">*</span>
        </label>
        <app-test-number
          id="age"
          name="age"
          [(ngModel)]="testForm.age"
        ></app-test-number>
      </div>

      <div class="form-group">
        <label for="maritalStatus">
          Семейное положение
          <span class="required">*</span>
        </label>
        <app-test-select
          id="maritalStatus"
          name="maritalStatus"
          [(ngModel)]="testForm.maritalStatus"
          [choices]="availableMaritalStatusOptions"
        ></app-test-select>
      </div>

      <div class="form-group">
        <label for="university">ВУЗ</label>

        <div class="universities">
          <div *ngFor="let university of universities" class="university-item">
            <p class="university-name">{{ university }}</p>
          </div>

          <span [style]="{display: 'flex'}">
            <app-test-input
              id="university"
              name="university"
              [(ngModel)]="testForm.university"
              [value]="testForm.university"
              placeholder="например, ВолГУ"
            ></app-test-input>


            <ng-container *ngIf="universities.length > 0">
              <button type="button" class="remove-button" (click)="onRemove()">
                <svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" viewBox="0 0 26 26" fill="none">
                  <circle cx="13" cy="13" r="13" fill="#FC6363"></circle>
                  <path d="M8.05029 17.9498L17.9498 8.05027" stroke="white"></path>
                  <path d="M8.05029 8.05023L17.9498 17.9497" stroke="white"></path>
                </svg>
              </button>
            </ng-container>

            <button type="button" class="add-button" (click)="onAdd()">
              <svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" viewBox="0 0 26 26" fill="none">
                <circle cx="13" cy="13" r="12.5" fill="white" stroke="black"></circle>
                <path d="M6 13H20" stroke="black"></path>
                <path d="M13 6L13 20" stroke="black"></path>
              </svg>
              <span>Добавить еще</span>
            </button>
          </span>
        </div>
      </div>
      <small class="university-help-text">Укажите заведения, в которых вы учились.</small>

      <div class="form-group">
        <label for="birthPlace">Место рождения</label>
        <app-test-select
          id="birthPlace"
          name="birthPlace"
          [(ngModel)]="testForm.birthPlace"
          [choices]="['Не важно', 'Астрахань', 'Волгоград', 'Волжский', 'Ростов-на-Дону', 'Саратов', 'Элиста']"
        ></app-test-select>
      </div>

      <div class="form-group">
        <label for="skills" [style]="{ marginBottom: 'auto' }">Навыки</label>
        <app-test-checkbox
          id="skills"
          name="skills"
          [(ngModel)]="testForm.skills"
          [options]="skillsOptions"
        ></app-test-checkbox>
      </div>

      <button
        type="submit"
        class="submit-button"
        (click)="submitForm()"
        [ngClass]="{ 'inactive': !isFormValid() }"
      >
        Отправить
      </button>
    </form>
  </section>
</main>
